<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="org.nypr.cordova.playerhaterplugin"
    version="0.1.0">
    <name>Device</name>
    <description>PlayerHater Plugin</description>
    <license>Apache 2.0</license>
    <keywords>audio,stream,radio</keywords>
    <repo>git@git.wnyc.net:mobile/cordova/cordova-plugin-playerhater.git</repo>


    <dependency id="cordova-plugin-media" />
    <dependency id="cordova-plugin-network-information" />

    <!-- ios -->
    <platform name="ios">
      <js-module src="www/audioplayer.js" name="AudioPlayer"> 
        <clobbers target="audioplayer"/> 
      </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="AudioPlayerPlugin">
                <param name="ios-package" value="PRXPlayerPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/PRXPlayerPlugin.h" />
        <header-file src="src/ios/AudioStreamHandler.h" />
        <header-file src="src/ios/PRXPlayer/PRXPlayer.h" />
        <header-file src="src/ios/PRXPlayer/PRXPlayerQueue.h" />
        <header-file src="src/ios/PRXPlayer/PRXPlayer_private.h" />
        <header-file src="src/ios/PRXPlayer/PRXQueuePlayer.h" />
        <header-file src="src/ios/PRXPlayer/ReachabilityManager.h" />
        <header-file src="src/ios/PRXPlayerImplementation/NYPROnDemand.h" />
        <header-file src="src/ios/PRXPlayerImplementation/NYPRPlayer.h" />
        <header-file src="src/ios/PRXPlayerImplementation/NYPRStream.h" />
        <header-file src="src/ios/Reachability/Reachability.h" />

        <source-file src="src/ios/PRXPlayerPlugin.m" />
        <source-file src="src/ios/AudioStreamHandler.m" />
        <source-file src="src/ios/PRXPlayer/PRXPlayer.m" />
        <source-file src="src/ios/PRXPlayer/PRXPlayerQueue.m" />
        <source-file src="src/ios/PRXPlayer/PRXQueuePlayer.m" />
        <source-file src="src/ios/PRXPlayer/ReachabilityManager.m" />
        <source-file src="src/ios/PRXPlayerImplementation/NYPROnDemand.m" />
        <source-file src="src/ios/PRXPlayerImplementation/NYPRPlayer.m" />
        <source-file src="src/ios/PRXPlayerImplementation/NYPRStream.m" />
        <source-file src="src/ios/Reachability/Reachability.m" />

        <framework src="MediaPlayer.framework" />
        <framework src="AudioToolbox.framework" />
    </platform>
</plugin>
